{% extends 'layouts/base.html' %} 
{% block content %}
<section class="main-content">
  <h1 style="font-size: 30px;">Registrate</h1>
  <form method="post" action="{% url 'signup' %}" class="mx-auto" style="max-width: 400px;">
    {% csrf_token %}
    {{form.as_p}} 
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
  {% comment %} {% if form.errors %}
  <ul>
    {% for field, errors in form.errors.items %} {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %} {% endfor %}
  </ul>
  {% endif %} {% endcomment %}
{{error}}
</section>
{% endblock %}
